.con{
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.con div{
    height: 75px; 

    text-align: center;
}

.d1{
    background-color: antiquewhite;
}
.d2{
    background-color: aqua;
}
.d3{
    background-color: aquamarine;
}
.d4{
    background-color: beige;
}
.d5{
    background-color: blanchedalmond;
}
.d6{
    background-color: blueviolet;
}
.d7{
    background-color: blue;
}
.d8{
    background-color: brown;
}
.d9{
    background-color: chocolate;
}
.d10{
    background-color: cadetblue;
}
